.hero {
  position: relative;
  height: 800px;
  background-image: url('../../assets/images/background-copy.jpg');
  background-size: cover;
  background-position: center top -110px;
  background-repeat: no-repeat;

  @include desktop-1500 {
    background-position: center top;
  }

  @include tablets {
    height: 640px;
  }
}

.burger {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @include tablets {
    right: 20px;
  }
}

.socials {
  @include desktop-1350 {
    display: none;
  }

  @include flex(flex-start, center);
  gap: 15px;
  position: absolute;
  top: 570px;
  left: 50px;
  transform: rotate(-90deg);
  transform-origin: top left;

  &__text {
    @include montserrat-bold;
    font-size: 16;
  }

  &__line {
    width: 70px;
    height: 2px;
    background-color: $color-text;
  }
}

.hero-content {
  @include wrapper;
  width: 100%;
  padding-top: 210px;

  @include tablets {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    color: $color-text;
    position: relative;
    @include montserrat-bold;
    z-index: 1;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include circle-item;
    }
  }

  &__descr {
    margin-top: 9px;
    @include montserrat-bold;
    font-size: 48px;
    max-width: 532px;
    line-height: 60px;

    @include tablets {
      font-size: 26px;
      line-height: 40px;
    }
  }

  &__btns {
    margin-top: 37px;
    @include flex(flex-start, center);
    flex-wrap: wrap;

    @include tablets {
      margin-top: 30px;
    }
  }
}

.portf-btn {
  @include btn;
}

.about-btn {
  @include btn-link;
  margin-left: 44px;
}
