// h1 {
//   @include poppins-bold;
// }

.hero {
  position: relative;
  width: 1920;
  height: 800px;
  background-image: url('../../assets/images/background-copy.jpg');
  background-size: cover;
  background-position: center top -110px;
  background-repeat: no-repeat;
  // z-index: 1;

  @include tablets {
    background-position: center top;
    height: 640px;
  }
}

.burger {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;

  @include tablets {
    right: 20px;
  }
}

.socials {
  @include desktop-1350 {
    display: none;
  }

  @include flex(flex-start, center);
  gap: 15px;
  position: absolute;
  top: 570px;
  left: 50px;
  transform: rotate(-90deg);
  transform-origin: top left;

  &__text {
    @include montserrat-bold;
    font-size: 16;
  }

  &__line {
    width: 70px;
    height: 2px;
    background-color: $color-text;
  }
}

.social-icons {
  display: flex;
  gap: 15px;

  a {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.hero-content {
  @include wrapper;
  width: 100%;
  // border: 1px solid red;
  padding-top: 206px;
  // max-width: 532px;

  @include tablets {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    color: $color-text;
    position: relative;
    @include montserrat-bold;
    z-index: 1;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $color-main;
      z-index: -1;
    }
  }

  &__descr {
    margin-top: 9px;
    @include montserrat-bold;
    font-size: 48px;
    max-width: 532px;
    line-height: 60px;

    @include tablets {
      font-size: 26px;
      line-height: 45px;
    }
  }

  &__btns {
    margin-top: 37px;
    width: 300px;
    @include flex(flex-start, center);

    @include tablets {
      margin-top: 25px;
    }
  }
}

.portf-btn {
  @include btn;
}

.about-btn {
  @include btn-link;
  margin-left: 44px;
}
