.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 345px;
  height: 100vh;
  max-height: 800px;
  background-color: $color-main;
  z-index: 3;
  padding-top: 140px;
  @include flex-column;
  overflow-y: auto;

  @include tablets {
    width: 250px;
    height: 100vh;
    max-height: 640px;
  }

  &__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__socials {
    align-self: center;
    margin-bottom: 50px;
    margin-top: auto;
  }
}

.menu {
  margin-left: 40px;

  @include tablets {
    margin-left: 20px;
  }

  &__list {
    @include flex-column(flex-start);
    gap: 15px;
  }

  &__item > a {
    @include flex(flex-start, center);
    height: 36px;

    @media (hover: hover) {
      &:hover {
        span {
          color: $color-text;
          // transition: color 0.5s ease;
        }

        div {
          background-color: $color-text;
        }
      }
    }
  }

  &__circle {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  &__item-text {
    color: $color-text-menu;
    @include montserrat-bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: color 0.3s ease;
    letter-spacing: -1px;
  }
}
