* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.social-icons ul {
  display: flex;
  gap: 15px;

  li {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
